<StackLayout>
        <StackLayout>
          <Image [src]="assignment.image"></Image>
        </StackLayout>
        <StackLayout>
          <Label [text]="assignment.questions.q"></Label>
          <Label [text]="assignment.questions.a[0]"></Label>
          <Label [text]="assignment.questions.a[1]"></Label>
          <Label [text]="assignment.questions.a[2]"></Label>
          <Label [text]="assignment.questions.a[3]"></Label>
          <Label [text]="assignment.questions.q2"></Label>
          <Label [text]="assignment.questions.a2[0]"></Label>
          <Label [text]="assignment.questions.a2[1]"></Label>
          <Label [text]="assignment.questions.a2[2]"></Label>
          <Label [text]="assignment.questions.a2[3]"></Label>
          <Label [text]="assignment.questions.q3"></Label>
          <Label [text]="assignment.questions.a3[0]"></Label>
          <Label [text]="assignment.questions.a3[1]"></Label>
          <Label [text]="assignment.questions.a3[2]"></Label>
          <Label [text]="assignment.questions.a3[3]"></Label>
        </StackLayout>
      </StackLayout>
      