  <StackLayout>
    <ListView
      class="list-group"
      [items]="students"
      (itemTap)="onSelectStudent($event)"
      style="height:90%"
    >
      <ng-template let-student="item">
        <FlexboxLayout flexDirection="row" class="list-group-item">
          <Label
            [text]="student.initials"
            class="list-group-item-heading"
            verticalAlignment="center"
            style="width: 60%"
          ></Label>
        </FlexboxLayout>
      </ng-template>
    </ListView> 

  <!-- <Label 
  text="Create new student" 
  class="list-group-item-heading"
  verticalAlignment="center"
  (tap)="onSelectCreateStudent($event)">
</Label> -->
<Button class="btn btn-primary btn-rounded-sm" text="Create new student" (tap)="onSelectCreateStudent($event)"></Button>

</StackLayout>
