<StackLayout>
        <ListView
          class="list-group"
          [items]="attempts"
          (itemTap)="onSelectAttempt($event)"
          style="height:90%"
        >
          <ng-template let-attempt="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
              <Label
                [text]="attempt.assignment.name"
                class="list-group-item-heading"
                verticalAlignment="center"
                style="width: 60%"
              ></Label>
              <Label
                text="Attempt {{attempt.number}}"
                class="list-group-item-heading"
                verticalAlignment="center"
                style="width: 60%"
              ></Label>
              <Label
                [text]="attempt.score"
                class="list-group-item-heading"
                verticalAlignment="center"
                style="width: 60%"
              ></Label>
              <Label
                [text]="attempt.time"
                class="list-group-item-heading"
                verticalAlignment="center"
                style="width: 60%"
              ></Label>
            </FlexboxLayout>
          </ng-template>
        </ListView>
        <Button class="btn btn-primary btn-rounded-sm" text="Take Assignment" (tap)="onSelectTakeAssignment($event)"></Button>
      </StackLayout>
      